@using System.Globalization
@model TableViewModel

<section class="table-layout-section">

    <div class="container">

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <span class="danger">@Model.ErrorMessage</span>
        }

        @if (!string.IsNullOrEmpty(Model.DisplayMessage))
        {
            <span class="success">@Model.DisplayMessage</span>
        }

        <h2>Restaurant layout</h2>
    </div>

    <form method="post" asp-controller="Table" asp-action="SaveLayout">
        <div class="restaurant-image">
            <img src="~/images/RestaurantLayout.png" />

            @for (int i = 0; i < Model.Tables.Count; i++)
            {
                var table = Model.Tables[i];

                <div id="table-@table.Id"
                     class="table"
                     draggable="true"
                     style="position: absolute; top:@($"{table.TopAlignment.ToString(CultureInfo.InvariantCulture)}%"); left:@($"{table.LeftAlignment.ToString(CultureInfo.InvariantCulture)}%");">

                    <div class="table-wrap">
                        <i class="fa-solid fa-circle table-icon"></i>
                        @for (int j = 0; j < table.Size; j++)
                        {
                            <i class="fa-solid fa-circle-dot chair-icon" style="--index:@j; --count:@table.Size;"></i>
                        }
                    </div>

                    <input type="hidden" name="Tables[@i].Id" value="@table.Id" />
                    <input type="hidden" name="Tables[@i].TopAlignment" id="top-@table.Id" value="@table.TopAlignment" />
                    <input type="hidden" name="Tables[@i].LeftAlignment" id="left-@table.Id" value="@table.LeftAlignment" />
                    <input type="hidden" name="Tables[@i].Name" value="@table.Name" />
                    <input type="hidden" name="Tables[@i].Size" value="@table.Size" />
                </div>
            }
        </div>

        <button type="submit" class="btn btn-secondary">Save Layout</button>
    </form>

</section>

@await Html.PartialAsync("_DragTableScriptPartial")