@model BookingViewModel
@using System.Globalization
@{
    var listId = 0;
}
<section class="booking-section">

    <div class="container">

        <div class="booking-list">

            <h2>Bookings</h2>

            <div class="booking-list-header">
                <span>Table</span>
                <span>Name</span>
                <span>Email</span>
                <span>Phone</span>
                <span>Created</span>
                <span>Start</span>
                <span>End</span>
            </div>
            
            @foreach(var booking in Model.Bookings)
            {
                listId++;


                <div class="booking-list-item">

                    <div class="booking-summary">
                        <span class="list-text">@booking.TableName</span>
                        <span class="list-text">@booking.BookerName</span>
                        <span class="list-text">@booking.BookerEmail</span>
                        <span class="list-text">@booking.BookerPhone</span>
                        <span class="date">@booking.CreatedDate</span>
                        <span class="date">@booking.BookingStartTime</span>
                        <span class="date">@booking.BookingEndTime</span>
                    </div>
                    <button onclick="openDropdown(@listId)" class="btn-square dropdown-button"><i class="fa-solid fa-caret-down"></i></button>
  

                    <div id="dropdown-@listId" class="booking-dropdown hidden">

                        <div class="dropdown-content">

                            <h4>Booker</h4>
                            <div class="dropdown-item">
                                <h6>Name: </h6><span class="list-text">@booking.BookerName</span>
                            </div>
                            <div class="dropdown-item">
                                <h6>Email: </h6><span class="list-text">@booking.BookerEmail</span>
                            </div>
                            <div class="dropdown-item">
                               <h6>Phone: </h6><span class="list-text">@booking.BookerPhone</span>
                            </div>
                            
                        </div>

                        <div class="dropdown-content">

                            <h4>Details</h4>
                            <div class="dropdown-item">
                                <h6>Table: </h6><span class="list-text">@booking.TableName</span>
                            </div>
                            <div class="dropdown-item">
                                <h6>Created at: </h6><span class="date">@booking.CreatedDate</span>
                            </div>
                            <div class="dropdown-item">
                                <h6>Booking start time: </h6><span class="date">@booking.BookingStartTime</span>
                            </div>
                            <div class="dropdown-item">
                                <h6>Booking finish time: </h6><span class="date">@booking.BookingEndTime</span>
                            </div>
                            
                        </div>

                        <div class="dropdown-content">
                            <h4>Allergies</h4>
                            <div class="dropdown-item">
                                <h6>Vegan: </h6><span>@booking.Vegan</span>
                            </div>
                            <div class="dropdown-item">
                                <h6>Vegetarian: </h6><span>@booking.Vegetarian</span>
                            </div>
                            <div class="dropdown-item">
                                <h6>Gluten: </h6><span>@booking.Gluten</span>
                            </div>
                            <div class="dropdown-item">
                                <h6>Milk: </h6><span>@booking.Milk</span>
                            </div>
                            <div class="dropdown-item">
                                <h6>Lactose: </h6><span>@booking.Lactose</span>
                            </div>
                            <div class="dropdown-item">
                                <h6>Eggs: </h6><span>@booking.Eggs</span>
                            </div>
                        </div>

                        <div class="dropdown-content">
                            <h4>Special requests</h4>
                            <h6>Request: </h6><span>@booking.SpecialRequests</span>
                            <button class="btn btn-secondary">Edit booking<i class="fa-solid fa-pen-to-square"></i></button>
                        </div>

                    </div>

                </div>
            }

        </div>

        <div class="table-list">

            <h2>Tables</h2>

            <div class="timeline-header">
                @for (int hour = 9; hour <= 22; hour++)  // Tidtabell - 09:00 till 22:00
                {
                    <span>@hour:00</span>
                }
            </div>
            @foreach(var table in Model.Tables)
            {
                <div class="table-list-item">
                    <span class="table-name">@table.Name</span>

                    <div class="booking-timeline">

                        @for (int i = 1; i < 13; i++) // 14 kolumner (per h), ingen linje vid 0%
                        {
                            var left = (i / 13.0) * 100;
                            <div class="time-divider" style="left:@left.ToString(CultureInfo.InvariantCulture)%"></div>
                        }

                        @foreach (var booking in table.Bookings)
                        {
                            var startMinutes = booking.BookingStartTime.TimeOfDay.TotalMinutes;
                            var endMinutes = booking.BookingEndTime.TimeOfDay.TotalMinutes;

                            var timelineStart = 540.0; // 09:00 i minuter (9*60)
                            var timelineEnd = 1320.0;  // 22:00 i minuter (22*60)
                            var timelineDuration = timelineEnd - timelineStart;

                            // Forcerar bokningar att vara innanför spannet 09-22 med hjälp av minuter
                            var clampedStart = Math.Max(startMinutes, timelineStart);
                            var clampedEnd = Math.Min(endMinutes, timelineEnd);

                            // CSS left-start % och width %
                            var startPercent = ((clampedStart - timelineStart) / timelineDuration) * 100;
                            var widthPercent = ((clampedEnd - clampedStart) / timelineDuration) * 100;

                            <div class="booking-block"
                                    style="left:@startPercent.ToString(CultureInfo.InvariantCulture)%; width:@widthPercent.ToString(CultureInfo.InvariantCulture)%;">
                                @booking.BookerName
                            </div>
                        }
                    </div>

                </div>
            }
        </div>

    </div>

</section>

@await Html.PartialAsync("_DropdownScriptPartial")