@using System.Security.Claims
@model HomeViewModel
@inject UserManager<UserEntity> _userManager

<section class="summary-section">

    <div class="container">

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <span class="danger">@Model.ErrorMessage</span>
        }

        @if (!string.IsNullOrEmpty(Model.AdminMessage))
        {
            <span class="success">@Model.AdminMessage</span>
        }

        <h1>Welcome @Model.RestaurantName!</h1>

        <div class="content-wrapper">

            <div class="content-container">

                <div class="content-item">
                    <h5><i class="fa-solid fa-users"></i>Current bookings</h5>
                    <span>@Model.Bookings</span>
                </div>

                <div class="content-item">
                    <h5><i class="fa-solid fa-chair"></i>Tables</h5>
                    <span>@Model.Tables</span>
                </div>

            </div>

            <div class="content-container">

                <div class="content-item">
                    <h5><i class="fa-solid fa-phone"></i>Call support</h5>
                    <a class="link" href="tel:">+4670 12 34 56</a>
                </div>

                <div class="content-item">
                    <h5><i class="fa-solid fa-envelope"></i>Mail support</h5>
                    <a class="link" href="mailto:">support@domain.com</a>
                </div>

            </div>

        </div>

        @if (User.IsInRole("Admin"))
        {
            var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
            if(userId != null)
            {
                var user = _userManager.FindByIdAsync(userId).Result;

                <form class="restaurant-form" asp-controller="Home" asp-action="UpdateAdminRestaurant" method="post">
                    <select name="restaurantId">
                        @foreach (var restaurant in Model.Restaurants)
                        {
                            @: <option value="@restaurant.Id" @(restaurant.Id == user!.RestaurantId ? "selected" : "")>@restaurant.Name</option>
                        }
                    </select>
                    <button class="btn btn-square">Save changes</button>
                </form>
            }

            <form class="booking-form" asp-controller="Home" asp-action="CreateBooking" method="post">
                <h3>Create booking</h3>
                <input hidden asp-for="@Model.Booking.Id" />
                <div class="input-wrapper">
                    <label asp-for="@Model.Booking.CreatedDate"></label>
                    <input asp-for="@Model.Booking.CreatedDate" type="datetime-local" value="@Model.Booking.CreatedDate.ToString("yyyy-MM-ddTHH:mm")"/>
                </div>

                <div class="input-wrapper">
                    <label asp-for="@Model.Booking.BookingStartTime"></label>
                    <input asp-for="@Model.Booking.BookingStartTime" type="datetime-local"  value="@Model.Booking.BookingStartTime.ToString("yyyy-MM-ddTHH:mm")"/>
                </div>

                <div class="input-wrapper">
                    <label asp-for="@Model.Booking.BookingEndTime"></label>
                    <input asp-for="@Model.Booking.BookingEndTime" type="datetime-local" value="@Model.Booking.BookingEndTime.ToString("yyyy-MM-ddTHH:mm")"/>
                </div>

                <div class="input-wrapper">
                    <label asp-for="@Model.Booking.BookerName"></label>
                    <input asp-for="@Model.Booking.BookerName" />
                </div>

                <div class="input-wrapper">
                    <label asp-for="@Model.Booking.BookerEmail"></label>
                    <input asp-for="@Model.Booking.BookerEmail" type="email" />
                </div>

                <div class="input-wrapper">
                    <label asp-for="@Model.Booking.BookerPhone"></label>
                    <input asp-for="@Model.Booking.BookerPhone" type="tel" />
                </div>

                <div class="input-wrapper">
                    <label asp-for="@Model.Booking.Vegan"></label>
                    <input asp-for="@Model.Booking.Vegan" type="number" min="0" />
                </div>

                <div class="input-wrapper">
                    <label asp-for="@Model.Booking.Vegetarian"></label>
                    <input asp-for="@Model.Booking.Vegetarian" type="number" min="0" />
                </div>

                <div class="input-wrapper">
                    <label asp-for="@Model.Booking.Lactose"></label>
                    <input asp-for="@Model.Booking.Lactose" type="number" min="0" />
                </div>

                <div class="input-wrapper">
                    <label asp-for="@Model.Booking.Milk"></label>
                    <input asp-for="@Model.Booking.Milk" type="number" min="0" />
                </div>

                <div class="input-wrapper">
                    <label asp-for="@Model.Booking.Eggs"></label>
                    <input asp-for="@Model.Booking.Eggs" type="number" min="0" />
                </div>

                <div class="input-wrapper">
                    <label asp-for="@Model.Booking.Gluten"></label>
                    <input asp-for="@Model.Booking.Gluten" type="number" min="0" />
                </div>

                <div class="input-wrapper">
                    <label asp-for="@Model.Booking.SpecialRequests"></label>
                    <textarea asp-for="@Model.Booking.SpecialRequests"></textarea>
                </div>

                <div class="input-wrapper">
                    <label asp-for="@Model.Booking.TableId">Table ID</label>
                    <input asp-for="@Model.Booking.TableId" />
                </div>

                <button type="submit" class="btn btn-secondary">Create Booking</button>
            </form>
        }

    </div>

</section>
