@model HomeViewModel

<section class="summary-section">

    <div class="container">

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <span class="danger">@Model.ErrorMessage</span>
        }

        @if (!string.IsNullOrEmpty(Model.AdminMessage))
        {
            <span class="success">@Model.AdminMessage</span>
        }

        <h1>Welcome @Model.RestaurantName!</h1>

        <div class="content-wrapper">

            <div class="content-container">

                <div class="content-item">
                    <h5><i class="fa-solid fa-users"></i>Current bookings</h5>
                    <span>@Model.Bookings</span>
                </div>

                <div class="content-item">
                    <h5><i class="fa-solid fa-chair"></i>Tables</h5>
                    <span>@Model.Tables</span>
                </div>

            </div>

            <div class="content-container">

                <div class="content-item">
                    <h5><i class="fa-solid fa-phone"></i>Call support</h5>
                    <a class="link" href="tel:">+4670 12 34 56</a>
                </div>

                <div class="content-item">
                    <h5><i class="fa-solid fa-envelope"></i>Mail support</h5>
                    <a class="link" href="mailto:">support@domain.com</a>
                </div>

            </div>

        </div>

    </div>

</section>
