@using System.Security.Claims
@model HomeViewModel
@inject UserManager<UserEntity> _userManager

<section class="summary-section">

    <div class="container">

        <h1>Welcome @Model.RestaurantName!</h1>

        <div class="content-wrapper">

            <div class="content-container">

                <div class="content-item">
                    <h5><i class="fa-solid fa-users"></i>Current bookings</h5>
                    <span>@Model.Bookings</span>
                </div>

                <div class="content-item">
                    <h5><i class="fa-solid fa-chair"></i>Tables</h5>
                    <span>@Model.Tables</span>
                </div>

            </div>

            <div class="content-container">

                <div class="content-item">
                    <h5><i class="fa-solid fa-phone"></i>Call support</h5>
                    <a class="link" href="tel:">+4670 12 34 56</a>
                </div>

                <div class="content-item">
                    <h5><i class="fa-solid fa-envelope"></i>Mail support</h5>
                    <a class="link" href="mailto:">support@domain.com</a>
                </div>

            </div>

        </div>

        @if (User.IsInRole("Admin"))
        {
            var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
            if(userId != null)
            {
                var user = _userManager.FindByIdAsync(userId).Result;

                <form class="restaurant-form" asp-controller="Home" asp-action="UpdateAdminRestaurant" method="post">
                    <select name="restaurantId">
                        @foreach (var restaurant in Model.Restaurants)
                        {
                            @: <option value="@restaurant.Id" @(restaurant.Id == user!.RestaurantId ? "selected" : "")>@restaurant.Name</option>
                        }
                    </select>
                    <button class="btn btn-square">Save changes</button>
                </form>
            }
        }

    </div>

</section>
